* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif  !important;
}

.navbar {
    background-color: #191919;
}

.custom-toggler.navbar-toggler{
    border-color: #191919;
    
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 164, 12, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav li {
    margin-right: 30px;
}

.navbar-nav a {
    font-weight: bold;
    color: white;
    
}

.navbar-nav a:hover {
    color: #fba40c;
}

.carousel-control-prev-icon {
    filter: none !important;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22%23fba40c%22%3E%3Cpath%20d%3D%22M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200z%22%2F%3E%3C%2Fsvg%3E") !important;
    
}

.carousel-control-next-icon {
    filter: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fba40c'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.identitas h5 {
    color: #fba40c;
    font-weight: bold;
}

.identitas p {
    font-weight: bold;
}

.footer {
    background-color: #191919;
}

.footer p {
    color: #fba40c;
    font-weight: 600;
}

.footer a {
    text-decoration: none;
    color: #fba40c;
}