* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif  !important;
    
}

.navbar {
    background-color: #191919;
}

.navbar-nav li {
    margin-right: 30px;
}

.ketgam p {
    font-weight: bold;
}


.navbar-collapse {
    background-color: #191919;
}

.navbar-nav a {
    font-weight: bold;
    color: white;
}

.navbar-nav a:hover {
    color: #fba40c;
}

.footer {
    background-color: #191919;
}

.footer p {
    color: #fba40c;
    font-weight: 600;
}

.footer a {
    text-decoration: none;
    color: #fba40c;
}